/* main page - CSS */

.calendarContainr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

#calendar {
  width: 80%;
}

#calendar a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 텍스트 색상 기본으로 설정 */
}

/* 캘린더 텍스트 색상 및 밑줄 제거 */
.fc-daygrid-day-number {
  color: black !important; /* 텍스트 색상 */
  text-decoration: none !important; /* 밑줄 제거 */
}

.fc-event {
  color: black !important; /* 이벤트 텍스트 색상 */
}

/* 모달 중앙 정렬 확인을 위한 추가 스타일 */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
#eventModal {
  color: black !important; /* 텍스트 색상 */
  text-decoration: none !important;
}

#saveEventBtn {
  background-color: rgb(100, 100, 195);
  border: none;
}
