.top_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.logo_img {
  padding: 20px;
}

.menuBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 5px;
  text-decoration: none;
  color: #0e71eb;
  font-size: 1.5rem;
  text-decoration: none !important;
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menuBar a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 텍스트 색상 기본으로 설정 */
}

.support {
  color: #0e71eb;
  margin-right: 30px;
  padding: 20px;
  font-size: 1rem;
}
