{% extends 'base.html' %} {% block content %} {% load static %}

<!-- css 파일 -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/lecturestart.css'%}"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
  rel="stylesheet"
/>

<!-- MediaPipe와 TensorFlow.js 라이브러리 로드 -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh@0.4"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.4"></script>
<audio
  id="alertSound"
  src="{% static '/99412B355CF6B93806.mp3' %}"
  preload="auto"
></audio>

<div class="container">
  <div id="timer"></div>
  <div id="Drowsiness"></div>
  <div id="headAngle"></div>
  <div id="checkcoment"></div>

  <div id="status"></div>

  <video id="videoElement" autoplay playsinline></video>
  <!-- 모달 창 요소 -->
  <div id="absenceModal" class="modal" style="display: none">
    <div class="modal-content">
      <div id="comentcontainer">
        <img id="absenceIcon" src="" style="width: 25px; height: 25px" />
        <p id="isAbsence"></p>
      </div>

      <button id="closeModalBtn">닫기</button>
    </div>
  </div>
  <div class="Btn_containr">
    <button id="startBtn">시작</button>
    <button id="stopBtn">끝</button>
  </div>
</div>

<!-- js 파일 -->
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils"></script>

<script type="module" src="{% static 'js/lecture.js' %}"></script>
<script>
  const checkIconUrl = "{% static 'assets/checkIcon.png' %}";
  const XIconUrl = "{% static 'assets/XIcon.png' %}";
</script>
{% endblock %}
