{% extends 'base.html' %} {% block content %} {% load static %}
<!-- css 파일 -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/lecturestart.css'%}"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
  rel="stylesheet"
/>

<div class="container">
  <div class="video_camera"></div>
  <div class="Btn_containr">
    <button class="Btn_1">시작</button>
    <button class="Btn_2">종료</button>
  </div>
</div>
<!-- js 파일 -->
<script src="{% static 'js/lecture.js'%}"></script>

{% endblock %}
