{% extends 'base.html' %} {% block content %} {% load static %}
<!-- css 파일 -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/main_page.css'%}"
/>

<div class="container">
  <div class="main">
    <img
      id="icon"
      src="{% static 'assets/video-conference_icon.png' %}"
      alt="아이콘"
    />
    <div id="coment">스마트 집중 관리 시스템 입니다.</div>
    <div>수업을 시작하고 손 쉽게 출석을 관리해 보세요!</div>
  </div>
</div>
<!-- js 파일 -->
<!-- <script src="{% static 'js/main/main_page.js'%}"></script> -->

{% endblock %}
